<mat-card class="preview-card">
  <h2>Preview Listing</h2>

  <p><b>Title:</b> {{listing.title}}</p>
  <p><b>Location:</b> {{listing.location}}</p>
  <p><b>Price:</b> ₹ {{listing.price}}</p>
  <p><b>Furnished:</b> {{listing.furnished ? 'Yes' : 'No'}}</p>
  <p><b>Veg Only:</b> {{listing.vegOnly ? 'Yes' : 'No'}}</p>
  <p><b>Description:</b> {{listing.description}}</p>

  <button mat-raised-button color="primary" (click)="submit()">
    Submit Post
  </button>

  <button mat-button routerLink="/create">
    Edit
  </button>
</mat-card>

<div *ngIf="listing as l">

    <img [src]="l.image" style="width:100%;max-height:350px;object-fit:cover;border-radius:12px">

    <h1>{{ l.title }}</h1>
    <p>{{ l.description }}</p>
    <h2>₹{{ l.price }}</h2>

    <hr>

    <h3>Comments</h3>

    <div *ngFor="let c of l.comments">
        <strong>{{ c.user }}</strong>: {{ c.text }}
    </div>

    <textarea [(ngModel)]="comment" placeholder="Add comment..."></textarea>
    <br>
    <button (click)="addComment()">Post Comment</button>

</div>